<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %} {% endblock%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block before_style %} {% endblock%}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/base.css') }}"
    />
    {% block after_style %} {% endblock%}
  </head>

    <body>
        <div class="page-content page-container" id="page-content" style="background-color: #e0effa;">
            <!-- ======= Chat Section ======= -->
            <section id="chat_application" class="features" style="padding: 12px !important;">
                <header class="section-header" style="padding-bottom:  20px !important;">
                    <h2>Chat Application</h2>
                    <p>Demonstrasi Otobot Agenda</p>
                </header>
                <div class="row container d-flex justify-content-center mr-auto ml-auto">
                    <div class="col-12 col-md-6">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <div class="col-4">
                        <a href="/" class="btn btn-primary btn-block">Back to home page</a>
                    </div>
                </div>
            </div>
            <!-- ======= End Chat ======= -->
        </div>
        <footer>
            <div class="div border-top pt-4 pb-4">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto text-gray-500 font-weight-light">
                        2019 Otobot Agenda @ Tubes 3 Strategi Algoritma
                    </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-img">
                  <img
                    src="{{ url_for('static',filename='images/azhar.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                  <div class="social">
                    <a href="https://twitter.com/keong_balapp"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="https://www.facebook.com/FEMaxwellJr"
                      ><i class="fab fa-facebook-square"></i
                    ></a>
                    <a href="https://www.instagram.com/azhar_fatrh/"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Muhammad Azhar Faturahman</h4>
                  <span>13519020</span>
                  <p>
                    Wibu banget suka berkhayal sama waifu-waifunya. Punya banyak
                    dakimakura
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="div border-top pt-4 pb-4">
        <div class="row justify-content-center align-items-center">
          <div class="col-auto text-gray-500 font-weight-light">
            2021 Otobot Agenda @ Tubes 3 Strategi Algoritma
          </div>
        </div>
      </div>
    </footer>
    <!-- Script -->
    {% block before_script %} {% endblock%}
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    {% block after_script %} {% endblock%}
  </body>
</html>
